[submodule "valgrind"]
	path = valgrind
	url = git://mirrors.ustc.edu.cn/aosp/platform/external/valgrind.git
	branch = lollipop-mr1-release
[submodule "llvm"]
	path = llvm
	url = git://mirrors.ustc.edu.cn/aosp/platform/external/llvm.git
	branch = lollipop-mr1-release
[submodule "icu"]
	path = icu
	url = git://mirrors.ustc.edu.cn/aosp/platform/external/icu.git
	branch = lollipop-mr1-release
[submodule "chromium-trace"]
	path = chromium-trace
	url = git://mirrors.ustc.edu.cn/aosp/platform/external/chromium-trace.git
	branch = lollipop-mr1-release
[submodule "chromium-webview"]
	path = chromium-webview
	url = https://github.com/VMOS-XiaoSuan/chromium-webview.git
[submodule "eclipse-basebuilder"]
	path = eclipse-basebuilder
	url = git://mirrors.ustc.edu.cn/aosp/platform/external/eclipse-basebuilder.git
	branch = lollipop-mr1-release
[submodule "chromium_org"]
	path = chromium_org
	url = https://github.com/VMOS-XiaoSuan/chromium_org.git
